.alert-error,
.alert-information,
.alert-confirmation {
    -fx-background-color: #12121a;
    -fx-padding: 30px;
    -fx-background-insets: 0;
}

.alert-error .header-panel,
.alert-information .header-panel,
.alert-confirmation .header-panel {
        -fx-background-color: #12121a;
        -fx-padding: 30px;
        -fx-background-insets: 0;
}

.alert .header-panel .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 28px;
    -fx-effect: dropshadow(gaussian, #34dbce, 40, 0.3, 0, 0);
    -fx-font-weight: bold;
}

.alert-error .content,
.alert-information .content,
.alert-confirmation .content {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.alert-error .button,
.alert-information .button,
.alert-confirmation .button {
    -fx-background-color: rgba(252, 80, 80, 0.1);
    -fx-text-fill: rgba(252, 80, 80, 0.9);
    -fx-border-color: rgba(252, 80, 80, 0.3);
    -fx-background-radius: 21px;
    -fx-border-width: 2px;
    -fx-border-radius: 21px;
    -fx-cursor: hand;
    -fx-font-size: 16px;
    -fx-font-family: "Roboto", "Segoe UI", sans-serif;
    -fx-padding: 8 20;
    -fx-margin: 0 10;
}

